html{
    background-color: rgb(58, 0, 74);}
body{
    background-color: rgb(255, 176, 255);}
article{
    margin-left: 1%}
header{
    text-align: center;
    background-color: rgb(58, 0, 74);
    width: 100%;
    h1{color:blanchedalmond;}
    padding-bottom: 5px;}
footer{
    margin-left: 1%}
form{
    text-align: center;
    border: 5px rgb(214, 94, 214);}
h1{
    color: rebeccapurple;}
h2{
    color: rebeccapurple}
h3{
    color: rebeccapurple;}
nav ul{
    display: flex;
    flex-direction: row;
    flex: 100%;
    flex-wrap: nowrap;
    width: 100%;
    background-color: black;
    padding-left: 0;
    padding-bottom: 3px;
    margin-top: 0%;
    align-items:center;
    list-style: none;
    display: inline-block;}
nav li{ 
    list-style: none;
    display: inline-block;
    list-style-type: none;
    list-style: none;
    background-color: gray;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px black;
    width: calc(99% / 3);
    font-size: larger;
    text-align: center;}
button{
    background-color: violet;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 8px;}
button:hover{
    background-color: wheat;
    border: 1px solid violet;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
nav a{
    color: rgb(171, 8, 8);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;}
a:hover{
    color: wheat; background-color: rgb(58, 0, 74);}
footer p{
    font-size: 50%;}
article img{
    border: 15px solid orange;}
